.container {
  display: flex;
  justify-content: center;
}
.card {
  border: 1px solid rgb(139, 137, 137);
  width: 300px;
  margin-right: 20px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
  text-align: center;
}
.card h2 {
  color: rgb(151, 23, 23);
}
.card img {
  border-radius: 50%;
}
